$yellow: #eeffaa;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=75B0u0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #A7383D;	// Main Primary color */
$color-primary-1: #FBA7AB;
$color-primary-2: #D1686E;
$color-primary-3: #7D151A;
$color-primary-4: #540004;

$color-secondary-1-0: #AA6A39;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCFAA;
$color-secondary-1-2: #D4986A;
$color-secondary-1-3: #804315;
$color-secondary-1-4: #552500;

$color-secondary-2-0: #236863;	// Main Secondary color (2) */
$color-secondary-2-1: #689D99;
$color-secondary-2-2: #41837E;
$color-secondary-2-3: #0D4E4A;
$color-secondary-2-4: #003430;

$color-complement-0: #378B2E;	// Main Complement color */
$color-complement-1: #92D18B;
$color-complement-2: #5FAE57;
$color-complement-3: #1A6811;
$color-complement-4: #074600;