@import "default";

.tes {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-color: #e3d4ba;
    box-shadow: inset 0px 100px 200px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
}

.title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

.photo {
    flex-basis: 40;
    text-align: center;
}

.photo img {
    border-radius: 200px;
    width: 200px;
}

.author {
    line-height: 1.6;
}

.author > * {
    margin: auto;
    text-align: center;
    width: 300px;
}

.author-name {
    font-size: 1.6rem;
}

.sparator {
    font-size: 1.5rem;
    margin: 4rem 0 2rem;
    text-align: center;
}

table {
    width: 100%;
}

table td {
    text-align: center;
    padding: 0.5rem 0;
}

.post-title {
    display: inline;
}

.post-link {
    color: #222;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

.post:hover .post-link {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0 5rem;
}

.pagination > div > a {
    color: #222;
		text-decoration: none;
}

.pagination > div > a:hover {
		color: $color-secondary-2-2;
    cursor: pointer;
    text-decoration: underline;
}

.pagination > div > span:hover {
    cursor: default;
}