@import "default";

@media (min-width:480px) {
    .post {
        font-size: 1.05rem;
    }
}

@media (min-width:680px) {
    .post {
        font-size: 1.15rem;
    }
}
/*3A4145*/
.post {
    line-height: 1.8;
    padding: 2rem 0;

    blockquote {
        border-left: 3px solid #222;
        font-style: italic;
        padding-left: 1.8rem;
    }
    blockquote footer:before {
        content: '— ';
    }
    blockquote footer {
        color: #555;
        font-style: normal;
    }
    blockquote footer cite {
        font-style: italic;
    }
}

.post-date {
    color: #444;
    font-size: 0.9rem;
}

.post-title {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 2rem;
}

.footnotes:before {
    border-bottom: 0.5pt solid #111;
    content: '';
    display: block;
    margin-top: 25px;
    width: 100%;
}

.footnotes {
    color: #444;
    font-size: 0.85em;
}