--- 
layout: default 
---

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ page.title }} &#8211; {{ site.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.summary }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="keywords" content="{{ page.tags | join: ', ' }}">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Assets -->
	<link rel="icon" href="/favicon.ico?v=1">
	<style type="text/css">
		{% capture include_to_scssify %}
			{% include css/post.scss %}
		{% endcapture %}
		{{include_to_scssify | scssify}}
	</style>
</head>

<body>
	<div class="container post">
		<article id="content" class="post-content">
			<header>
				<span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span>
				<h1 class="post-title">{{ page.title }}</h1>
			</header>
			{{ content }}
		</article>
		<nav id="header">
			<div class="title">{{ site.title }}</div>
			<ul class="nav">
				<li id="min" class="btn">-</li>
				<li id="default"></li>
				<li id="plus" class="btn">+</li>
			</ul>
		</nav>

		<script>
			(function (window, document) {
				
				/*Font Resizer*/
				var els = {
					content: document.getElementById('content'),
					minBtn: document.getElementById('min'), 
					default: document.getElementById('default'), 
					plusBtn: document.getElementById('plus')
				};
				els.default.innerHTML = 
				els.currentSize = 
				els.defaultSize = +getComputedStyle(els.content).fontSize.slice(0,-2);
				function changeContentFontSize(size) {
					els.content.style.fontSize = size + 'px';
					els.default.innerHTML = Math.floor(size*10)/10;
				}
				els.minBtn.addEventListener('click', function () {
					els.currentSize -= 0.5;
					changeContentFontSize(els.currentSize);
				});
				els.default.addEventListener('click', function () {
					changeContentFontSize(els.defaultSize);
				});
				els.plusBtn.addEventListener('click', function () {
					els.currentSize += 0.5;
					changeContentFontSize(els.currentSize);
				});
				
				/*Navbar Hidder
				http://stackoverflow.com/posts/31223774*/
				var el = document.getElementById('header');
				var lastScrollTop = 0;
				var st;
				window.addEventListener("scroll", function () {
					st = window.pageYOffset;
					if (st < lastScrollTop) {
						if (el.style.top !== '0px') {
							el.style.top = '0px';
						}
					} else if (el.style.top !== '-64px') {
						el.style.top = '-64px';
					}
					lastScrollTop = st;
				}, false);
				
			})(window, document);
		</script>
	</div>
</body>